* {
  color: rgb(19, 19, 19);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CAN I IMPORT FONT FAMILIES WITH AN INDEX.HTML FILE? */


body {
  min-height: 100vh;
  background-image: linear-gradient(rgb(178, 101, 255), cornflowerblue);
 
}

.rightSide {
  color: white;
}


.rightSide {
  color: white;
  grid-row: 2 / span 2;
  grid-column: 3;
  background-image: linear-gradient(transparent, burlywood);
  text-align: center;

}

.leftSide {
  grid-row: 2 / span 2;
  grid-column: 1;
  background-image: linear-gradient(transparent, burlywood);
  text-align: center;
}


.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;

 


}

.compare
{
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}
.random {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}

.header {
  text-align: center;
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: 96px;
  margin-top: 40px;
}


img {
  height: 300px;
}


/* Things I can do now that the game is pretty much there:
1. The readme and all the other little things!
3. throw an error to the user if they input something that won't bring a pokemon
4. clean out random console logs
5. clean out random comments
6. give shout out to DT in readme
7. add spacing in the player sections


*/